/*
================================================
  Project: Site Cafeteria (Portfólio Pessoal)
  File: style.css
  Author: MARCIA MOREIRA
  Role: Desenvolvedora Web - Full Stack 

  Technologies Used:
  - HTML5
  - CSS3 (Flexbox, Grid)
  - JavaScript (ES6+)
  - Frameworks/Libraries: Bootstrap
  - Version Control: Git/GitHub/GitHubPages
  
  References Used:
  - Site Video: https://youtu.be/v1jVqO6dx9A?si=S9Jczzitcu4f1hZq
  - Site Imagens: https://ibb.co/album/8KjM76
  
  Contact Information:
  - Email: id.marcia.moreira@gmail.com
  - LinkedIn: https://www.linkedin.com/in/idmarciamoreira
  - GitHub: https://github.com/Marcia-Moreira
  
  Creation Date: 20-09-2024
  Last Updated: 20-09-2024
================================================
*/
/*? INÍCIO DA ENDEREÇO: */
.address-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.address-container iframe {
  border-radius: 5px;
}
.address-container iframe:hover {
    transform: scale(1.04);
    box-shadow: var(--shadow-primary);
    transition-duration: 0.5s;
}
/*? FIM DA ENDEREÇO */
